In [498]:
'''Original Author @Satyam Sangeet
contact - satyam_verma20@yahoo.in

This file comares the sequences and generate the phylogenetic relationship between sequences. The details'''

def compare_strings(a, b):
    result = True
    if len(a) != len(b):
        print('string lengths do not match!')
    for i, (x, y) in enumerate(zip(a, b)):
        if x != y:
            print(f'char miss-match {x, y} in element {i}')
            result = False
    if result:
        print('strings match!')
    return result

s1 = "MFVFLVLLPLVSSQCVNLRTRTQLPPAYTNSFTRGVYYPDKVFRSSVLHSTQDLFLPFFSNVTWFHAIHVSGTNGTKRFDNPVLPFNDGVYFASTEKSNIIRGWIFGTTLDSKTQSLLIVNNATNVVIKVCEFQFCNDPFLGVYYHKNNKSWMESGVYSSANNCTFEYVSQPFLMDLEGKQGNFKNLREFVFKNIDGYFKIYSKHTPINLVRDLPQGFSVLEPLVDLPIGINITRFQTLLALHRSYLTPGDSSSGWTAGAAAYYVGYLQPRTFLLKYNENGTITDAVDCALDPLSETKCTLKSFTVEKGIYQTSNFRVQPTESIVRFPNITNLCPFGEVFNATRFASVYAWNRKRISNCVADYSVLYNSASFSTFKCYGVSPTKLNDLCFTNVYADSFVIRGDEVRQIAPGQTGKIADYNYKLPDDFTGCVIAWNSNNLDSKVGGNYNYRYRLFRKSNLKPFERDISTEIYQAGSKPCNGVEGFNCYFPLQSYGFQPTNGVGYQPYRVVVLSFELLHAPATVCGPKKSTNLVKNKCVNFNFNGLTGTGVLTESNKKFLPFQQFGRDIADTTDAVRDPQTLEILDITPCSFGGVSVITPGTNTSNQVAVLYQGVNCTEVPVAIHADQLTPTWRVYSTGSNVFQTRAGCLIGAEHVNNSYECDIPIGAGICASYQTQTNSRRRARSVASQSIIAYTMSLGAENSVAYSNNSIA"
s2 = "MFVFLVLLPLVSSQCVNLRTRTQLPPAYTNSFTRGVYYPDKVFRSSVLHSTQDLFLPFFSNVTWFHAIHFSGTNGTKRFDNPVLPFNDGVYFASTEKSNIIRGWIFGTTLDSKTQSLLIVNNATNVVIKVCEFQFCNDPFLGVYYHKNNKSWMESGVYSSANNCTFEYVSQPFLMDLEGKQGNFKNLREFVFKNIDGYFKIYSKHTPINLVRDLPQGFSVLEPLVDLPIGINITRFQTLLALHRSYLTPGDSSSGWTAGAAAYYVGYLQPRTFLLKYNENGTITDAVDCALDPLSETKCTLKSFTVEKGIYQTSNFRVQPTESIVRFPNITNLCPFGEVFNATRFASVYAWNRKRISNCVADYSVLYNSASFSTFKCYGVSPTKLNDLCFTNVYADSFVIRGDEVRQIAPGQTGNIADYNYKLPDDFTGCVIAWNSNNLDSKVGGNYNYRYRLFRKSNLKPFERDISTEIYQAGSKPCNGVEGFNCYFPLQSYGFQPTNGVGYQPYRVVVLSFELLHAPATVCGPKKSTNLVKNKCVNFNFNGLTGTGVLTESNKKFLPFQQFGRDIADTTDAVRDPQTLEILDITPCSFGGVSVITPGTNTSNQVAVLYQGVNCTEVPVAIHADQLTPTWRVYSTGSNVFQTRAGCLIGAEHVNNSYECDIPIGAGICASYQTQTNSRRRARSVASQSIIAYTMSLGAENSVAYSNNSIA"
x = compare_strings(s1,s2)
print(x)
#print(len(s1))
#print(len(s2))

char miss-match ('V', 'F') in element 69
char miss-match ('K', 'N') in element 414
False

In [478]:
import pandas as pd
import csv

nos = 95
df = pd.read_csv("/home/satyam/Documents/Mutation_Prediction/Delta/Training_Data_20oct/Final_185/mltrain_csvfiles/seq%i.csv" %nos)
df.head()

  Sequence  in1       in2        in3       in4  Output
0        M    1  1.098612  10.805556  0.000000       0
1        F    0  0.581922   0.972222  0.000000       0
2        V    0  0.927877   0.803161  0.000000       0
3        F    3  0.581922   0.972222  0.000000       0
4        L    3  1.309754   0.763032  0.172037       0

In [473]:
for a in range(0,711):
    if(a==76):
        df.at[a, 'Output'] = 1
    else:
        df.at[a, 'Output'] = 0

In [474]:
df.head()

  Sequence  in1       in2        in3       in4  Output
0        M    1  1.098612  10.805556 -0.000000     0.0
1        F    0  0.000000   0.969907 -0.000000     0.0
2        V    0  0.927877   0.805077 -0.000000     0.0
3        F    3  0.000000   0.969907 -0.000000     0.0
4        L    3  1.309754   0.762346  0.172037     0.0

In [475]:
df.to_csv(r"/home/satyam/Documents/Mutation_Prediction/Delta/Training_Data_20oct/Final_185/mltrain_csvfiles/seq%i.csv" %nos)

In [502]:
for nos in range(3,118): 
    df = pd.read_csv(r"/home/satyam/Documents/Mutation_Prediction/Delta/Training_Data_20oct/Final_185/mltrain_csvfiles/seq%i.csv" %nos)
    # If you know the name of the column skip this
    first_column = df.columns[0]
    # Delete first
    df = df.drop([first_column], axis=1)
    df.to_csv(r"/home/satyam/Documents/Mutation_Prediction/Delta/Training_Data_20oct/Final_185/mltrain_csvfiles/seq%i.csv" %nos, index=False)